body {
    width: 800px;
    margin: auto;
    color: black;
    /* Set the foreground color to red  (this is a comment) */
    font-size: 100%;
    /*font-family: "Secret Typewriter";*/
    overflow: auto;
}

h1 {
    color: black;
    text-align: left;
    font-size: x-large;
}

p {
    color: black;
}

.summary {
    color: black;
    padding: 15px;
}

.emp {
    color: black;
    padding: 6px;
    /*width: 700px;*/
}

.edu {
    padding: 7px;
    text-align: left;
}

.emp1 {
    padding: 7px;
}

title {
    font-size: large;
}